@{
    ViewData["Title"] = "Access Denied";
}

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">You don't have permission to do this action.</h1>
        </div>
    </div>
</div>
